@page
@model CoursesModel

<div class="mdk-header-layout__content page-content ">
    @{
        int courseCount = Model.CourseList.Count();
    }
    <div data-push
         data-responsive-width="992px"
         class="mdk-drawer-layout js-mdk-drawer-layout">
        <div class="mdk-drawer-layout__content">

            <div class="page-section">
                <div class="container page__container">
                    <div id="viewComponentContainerNewest">
                        @await Component.InvokeAsync("Courses", new { sortParameter = "Newest", filterParameter = " ", pageIndex = 1, Name = "Newest Courses", pageSize = 4, ContainerId = "viewComponentContainerNewest" })
                    </div>
                    <div id="viewComponentContainerPopular">
                        @await Component.InvokeAsync("Courses", new { sortParameter = "Newest", filterParameter = " ", pageIndex = 1, Name = "Popular Courses", pageSize = 4, ContainerId = "viewComponentContainerPopular" })
                    </div>

                    <div id="viewComponentContainerDevelopment">
                        @await Component.InvokeAsync("Courses", new { sortParameter = "Newest", filterParameter = " ", pageIndex = 1, Name = "Development Courses", pageSize = 4, ContainerId = "viewComponentContainerDevelopment" })
                    </div>
                  

       

                    <div class="mb-32pt">

                        <ul class="pagination justify-content-start pagination-xsm m-0">
                            <li class="page-item disabled">
                                <a class="page-link"
                                   href="#"
                                   aria-label="Previous">
                                    <span aria-hidden="true"
                                          class="material-icons">chevron_left</span>
                                    <span>Prev</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   href="#"
                                   aria-label="Page 1">
                                    <span>1</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   href="#"
                                   aria-label="Page 2">
                                    <span>2</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   href="#"
                                   aria-label="Next">
                                    <span>Next</span>
                                    <span aria-hidden="true"
                                          class="material-icons">chevron_right</span>
                                </a>
                            </li>
                        </ul>

                    </div>

                    <div class="page-separator">
                        <div class="page-separator__text">Design Courses</div>
                    </div> 

                  
                </div>
            </div>

        </div>

        <div class="mdk-drawer js-mdk-drawer "
             id="library-drawer"
             data-align="end">
            <div class="mdk-drawer__content top-navbar">
                <div class="sidebar sidebar-light sidebar-right py-16pt"
                     data-perfect-scrollbar
                     data-perfect-scrollbar-wheel-propagation="true">

                    <div class="d-flex align-items-center mb-24pt  d-lg-none">
                        <form action="index.html"
                              class="search-form search-form--light mx-16pt pr-0 pl-16pt">
                            <input type="text"
                                   class="form-control pl-0"
                                   placeholder="Search">
                            <button class="btn"
                                    type="submit">
                                <i class="material-icons">search</i>
                            </button>
                        </form>
                    </div>

                    <div class="sidebar-heading">Category</div>
                    <ul class="sidebar-menu">
                        <li class="sidebar-menu-item active">
                            <a href=""
                               class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">code</span>
                                <span class="sidebar-menu-text">Web Development</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href=""
                               class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">brush</span>
                                <span class="sidebar-menu-text">Design</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href=""
                               class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">settings_cell</span>
                                <span class="sidebar-menu-text">iOS &amp; Swift</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href=""
                               class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">android</span>
                                <span class="sidebar-menu-text">Android</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href=""
                               class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">business_center</span>
                                <span class="sidebar-menu-text">Business</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href=""
                               class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">crop_original</span>
                                <span class="sidebar-menu-text">Photography</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href=""
                               class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">payment</span>
                                <span class="sidebar-menu-text">Marketing</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href=""
                               class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">store</span>
                                <span class="sidebar-menu-text">eCommerce</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href=""
                               class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">redeem</span>
                                <span class="sidebar-menu-text">Health &amp; Fitness</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href=""
                               class="sidebar-menu-button">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">music_note</span>
                                <span class="sidebar-menu-text">Music</span>
                            </a>
                        </li>
                    </ul>

                    <div class="sidebar-heading">Platform</div>
                    <div class="sidebar-block">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck01"
                                       checked="">
                                <label class="custom-control-label"
                                       for="filtersCheck01">All</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck02">
                                <label class="custom-control-label"
                                       for="filtersCheck02">Archive</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck06">
                                <label class="custom-control-label"
                                       for="filtersCheck06">Unity</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck03">
                                <label class="custom-control-label"
                                       for="filtersCheck03">Web</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck04">
                                <label class="custom-control-label"
                                       for="filtersCheck04">iOS &amp; Swift</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck05">
                                <label class="custom-control-label"
                                       for="filtersCheck05">Android</label>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-heading">Subscription</div>
                    <div class="sidebar-block">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck07"
                                       checked="">
                                <label class="custom-control-label"
                                       for="filtersCheck07">All</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck08">
                                <label class="custom-control-label"
                                       for="filtersCheck08">Free</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck09">
                                <label class="custom-control-label"
                                       for="filtersCheck09">Beginner</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck10">
                                <label class="custom-control-label"
                                       for="filtersCheck10">Advanced</label>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-heading">Content type</div>
                    <div class="sidebar-block">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck11"
                                       checked="">
                                <label class="custom-control-label"
                                       for="filtersCheck11">All</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck12">
                                <label class="custom-control-label"
                                       for="filtersCheck12">Episode</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck13">
                                <label class="custom-control-label"
                                       for="filtersCheck13">Video</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck14">
                                <label class="custom-control-label"
                                       for="filtersCheck14">Article</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck15">
                                <label class="custom-control-label"
                                       for="filtersCheck15">Book</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input"
                                       type="checkbox"
                                       value=""
                                       id="filtersCheck16">
                                <label class="custom-control-label"
                                       for="filtersCheck16">Screencast</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>


<script>
    function navigateToStudentCourse(courseId) {
        window.location.href = '@Url.Page("/StudentCourse")' + '?id=' + courseId;
    }
 </script>